<%@ page language="java" contentType="text/html; charset=ISO-8859-1" pageEncoding="ISO-8859-1" %>
    <!DOCTYPE html>
    <html>

    <head>
        <meta charset="ISO-8859-1">
        <title>Admin Portal</title>
        <link rel="stylesheet" href="/resources/vendors/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" href="/resources/vendors/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="/resources/assets/style.css">
    </head>

    <body>
        <div class='dashboard'>
            <div class="dashboard-nav">
                <header>
                    <a href="#!" class="menu-toggle"><i class="fa fa-ellipsis-h"></i></a>
                    <a href="#" class="brand-logo"><i class="fa-solid fa-circle-user"></i><span>Admin</span></a>
                </header>
                <nav class="dashboard-nav-list">
                    <a href="#" class="dashboard-nav-item"><i class="fa fa-home"></i>Home </a>
                    <a href="#" class="dashboard-nav-item active"><i class="fa fa-tachometer-alt"></i> dashboard </a>
                    <div class='dashboard-nav-dropdown'>
                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                                class="fas fa-photo-video"></i> Product Section </a>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a href="/category/create" class="dashboard-nav-dropdown-item">Add Category</a>
                            <a href="/product/create" class="dashboard-nav-dropdown-item">Add Product</a>
                            <a href="#" class="dashboard-nav-dropdown-item">Product Edit</a>
                            <a href="#" class="dashboard-nav-dropdown-item">Shoping Card</a>
                        </div>
                    </div>
                    <div class='dashboard-nav-dropdown'>
                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                                class="fa fa-users"></i> Users </a>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a href="#" class="dashboard-nav-dropdown-item">All</a>
                            <a href="#" class="dashboard-nav-dropdown-item">Subscribed</a>
                            <a href="#" class="dashboard-nav-dropdown-item">Non-subscribed</a>
                            <a href="#" class="dashboard-nav-dropdown-item">Banned</a>
                            <a href="#" class="dashboard-nav-dropdown-item">New</a>
                        </div>
                    </div>
                    <div class='dashboard-nav-dropdown'>
                        <a href="#!" class="dashboard-nav-item dashboard-nav-dropdown-toggle"><i
                                class="fas fa-money-check-alt"></i> Payments </a>
                        <div class='dashboard-nav-dropdown-menu'>
                            <a href="#" class="dashboard-nav-dropdown-item">All</a>
                            <a href="#" class="dashboard-nav-dropdown-item">Recent</a>
                            <a href="#" class="dashboard-nav-dropdown-item"> Projections</a>
                        </div>
                    </div>
                    <a href="#" class="dashboard-nav-item"><i class="fas fa-cogs"></i>Settings </a>
                    <a href="#" class="dashboard-nav-item"><i class="fas fa-user"></i> Profile </a>
                    <div class="nav-item-divider"></div>
                    <a href="#" class="dashboard-nav-item"><i class="fa-solid fa-right-from-bracket"></i> Logout </a>
                </nav>
            </div>
            <div class='dashboard-app'>
                <header class='dashboard-toolbar'>
                    <a href="#!" class="menu-toggle"><i class="fa-sharp fa-solid fa-bars"></i></a>
                    <h1 class="text-uppercaser text-center btn-info">Online Shopping</h1>
                </header><br><br>